/.venvPyTorchML
/.venvTensorFlowML
/.venvTF_GPU
/.venvML
.vscode/tasks.json
datasets/*
PyTorch/tutorials
data/*
testModels
PyTorch/__pycache__
LDC_PeterCdev/
norse_scripts/MNIST
norse_scripts/runs
*.pth
testModels/*
modelZoo
*.asv
checkpoints/*
