# Configuration and environment files
/.venvPyTorchML
/.venvTensorFlowML
/.venvTF_GPU
/.venvML
.vscode/tasks.json

# Datasets and large files
datasets/*
data/*
testModels
modelZoo
checkpoints/*

# PyTorch folders
PyTorch/__pycache__
#PyTorch/snntorch
#PyTorch/norse
norse_scripts/MNIST
norse_scripts/runs

# Other repositories
#LDC_PeterCdev/
#v2e_PeterCdev/
event-based_backup

# File formats
*.asv
*.pyc 
*.mp4

# Tensorboard logs
tensorboardLog*

*.json